.flex-nav {
	display:flex;
	justify-content: space-between;
	align-items: center;

	.categories ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
		}
	}
}